<div class="mobile-app">
  <div class="dashboard-container">
    <h2 class="dashboard-title">Vos objectifs en cours</h2>

    <div class="goals-grid">
      <% @goal_progress.each do |item| %>
        <% goal = item[:goal] %>

        <div style="position: relative;">
          <!-- wrapper pour positionner l'emoji -->
          <%= link_to goal_path(goal), class: "goal-card" do %>
            <%= image_tag "goals/#{goal_image_filename(goal.name)}", class: "goal-image" %>

            <div class="goal-overlay">
              <h3 class="goal-name"><%= goal.name %></h3>

              <div class="goal-progress-badge">
                <%= image_tag "icon-trophy-small.svg", class: "badge-icon" %>
                <span><%= item[:progress] %>%</span>
              </div>
            </div>

            <!-- Icône de l'objectif en bas à droite -->
            <div class="goal-icon-badge">
              <%= image_tag goal.icon_path, class: "goal-icon-svg" %>
            </div>
          <% end %>

          <% if item[:goal].user_goals.find_by(user: current_user) %>
            <%= link_to user_goal_path(item[:goal].user_goals.find_by(user: current_user)),
                data: { turbo_method: :delete, turbo_confirm: "Supprimer ce goal ?" },
                class: "delete-goal-link" do %>
              🗑️
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "shared/navbar_dashboard" %>
</div>

<% if @show_welcome_popup %>
  <div class="welcome-overlay" id="welcome-overlay">
    <div class="welcome-card">
      <p class="welcome-text"><%= current_user.motivation_text %></p>
      <button class="welcome-btn" onclick="document.getElementById('welcome-overlay').style.display='none'">OK</button>
    </div>
  </div>
<% end %>
