<div class="mobile-app">
  <div class="dashboard-container">
    <h2 class="dashboard-title">Vos objectifs en cours</h2>

    <div class="goals-grid">
      <% @goal_progress.each do |item| %>
        <% goal = item[:goal] %>

        <%= link_to goal_path(goal), class: "goal-card" do %>
          <%= image_tag "goals/#{goal_image_filename(goal.name)}", class: "goal-image" %>

          <div class="goal-overlay">
            <h3 class="goal-name"><%= goal.name %></h3>

            <div class="goal-progress-badge">
              <%= image_tag "icon-trophy-small.svg", class: "badge-icon" %>
              <span><%= item[:progress] %>%</span>
            </div>
          </div>
        <% end %>

        <%= link_to "Supprimer",
            user_goal_path(item[:goal].user_goals.find_by(user: current_user)),
            data: { turbo_method: :delete, turbo_confirm: "Supprimer ce goal ?" } %>
      <% end %>
    </div>
  </div>

  <%= render "shared/navbar_dashboard" %>
</div>
