<nav class="bottom-navbar">

  <!-- Back -->
  <div class="nav-left">
    <%= link_to "javascript:history.back()" do %>
      <%= image_tag "icon-back.svg", class: "nav-icon" %>
    <% end %>
  </div>

  <!-- Home -->
  <div class="nav-center">
    <%= link_to dashboard_path do %>
      <%= image_tag "icon-home.svg", class: "nav-icon" %>
    <% end %>
  </div>

  <!-- Profile -->
  <div class="nav-right">
    <%= link_to profile_path do %>
      <%= image_tag "icon-profile.svg", class: "nav-icon" %>
    <% end %>
  </div>

</nav>
