<nav class="bottom-navbar">
  <div class="nav-left">
    <%= link_to categories_path do %>
      <%= image_tag "icon-add-goal.svg", class: "nav-icon" %>
    <% end %>
  </div>

  <div class="nav-center" id="phrase-btn">
    <%= image_tag "icon-motivation.png", class: "nav-add-icon" %>
  </div>

  <div class="nav-right">
    <%= link_to profile_path, class: "profile-link" do %>
      <span class="nav-username"><%= current_user.name.presence || current_user.email.split("@").first %></span>
      <div class="profile-avatar">
        <% if current_user.photo.attached? %>
          <%= image_tag current_user.photo, class: "avatar-img" %>
        <% else %>
          <%= image_tag "icon-profile.svg", class: "avatar-img avatar-default" %>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
