<div class="categories-container">
  <h2 class="categories-title"><%= @category.name %></h2>

  <div class="categories-grid">
    <% @goals.each do |goal| %>
      <%= link_to user_goals_path(goal_ids: [goal.id]), method: :post, data: { turbo_method: :post }, class: "category-card" do %>
        <%= image_tag "goals/#{goal_image_filename(goal.name)}", class: "category-image" %>

        <div class="category-overlay">
          <h3 class="category-name"><%= goal.name %></h3>
        </div>

        <!-- Icône de l'objectif en bas à droite -->
        <div class="goal-icon-badge">
          <%= image_tag goal.icon_path, class: "goal-icon-svg" %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
