<!DOCTYPE html>
<html>

  <head>
    <title>Trophy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <%= yield %>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.4/dist/confetti.browser.min.js"></script>

    
    <% if user_signed_in? && !devise_controller? && controller_name != "pages" && controller_name != "dashboard" %>
      <%= render "shared/navbar_navigation" %>
    <% end %>

    <% if user_signed_in? && !devise_controller? && controller_name != "pages" %>
      <div id="motivation-popup" class="motivation-popup">
        <p class="popup-title">Quote of the day</p>
        <span id="motivation-text"></span>
      </div>
    <% end %>

  </body>
</html>
